<!DOCTYPE html>
<html>
<head>
	<title>Table</title>
	<style type="text/css">
		table {
			border: 2px solid black;
			border-collapse: collapse;	
			width: 30%;
		}

		th,td {
			border: 1px solid black;
			padding: 5px;
			text-align: center;
		}

		th {
			background-color: lightgrey;
		}

	</style>
</head>
<body>
	<h2> Fruits </h2>
	<table>
		<tr>
			<th> SNo </td>
			<th> Name </td>
			<th> Colour </td>
		</tr>
		<tr>
			<td> 1 </td>
			<td> Apple </td>
			<td> Red </td>
		</tr>
		<tr>
			<td> 2 </td>
			<td> Banana </td>
			<td> Yellow </td>
		</tr>
		<tr>
			<td> 3 </td>
			<td> Grapes </td>
			<td> Green </td>
		</tr>
	</table>
</body>
</html>